<div class="container-fluid ">
    <div class="row">
        <div class="col-lg-6">
            <h4 class="header">Dashboard</h4>
        </div>
        <div class="col-lg-3">
        </div>
        <div class="col-lg-3">
            <div class="row mainrow">
                <div class="col-lg-12 buildings">
                    <!-- <span class="building">Dashboard /Dashboard</span> -->
                </div>
            </div>
        </div>
    </div>


    <div class="shadow p-3 mb-5 bg-white rounded  maincard ">
        <div class="row" style="margin-top: 45px;">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-4 card" style="box-shadow: 3px 1px 4px;
            height: 139px;">
                <h4 style="text-align: center; margin-top: 47px;">Active Clients</h4>
                <h4 style="text-align: center">{{ActiveCount}}</h4>
            </div>
            <div class="col-lg-1">
            </div>
            <div class="col-lg-4 card" style="box-shadow: 3px 1px 4px;
            height: 139px;">
                <h4 style="text-align: center; margin-top: 47px;">Inactive Clients</h4>
                <h4 style="text-align: center">{{InactiveCount}}</h4>
            </div>
            <div class="col-lg-2">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-4 card" style="box-shadow: 3px 1px 4px;margin-top: 75px;
                height: 139px;">
                <h4 style="text-align: center; margin-top: 47px;">Total Clients</h4>
                <h4 style="text-align: center">{{TotalCount}}</h4>
            </div>
            <div class="col-lg-7">
            </div>

        </div>
        <br>
        <br>
        <br>
        <br>
    </div>

</div>