<div class="container-fluid Pages_background">
  <div>
    <div class="row">
      <div class="col-lg-3">
        <h4 class="Pages_header">Company Invoice</h4>
      </div>
      <div class="col-lg-6">
      </div>
      <div class="col-lg-3">
        <div class="mainrow">
          <div class="col-lg-12 BreadChrumbProperties">
            <span class="CommercialWorkspace"> Company / Company Invoice </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row breadCrumbHeadderProperties">
      <div class="col-lg-12 dashbutton">
        <button routerLink="/NewCompanyInvoice" type="button" id="btn_button">Add Invoice</button>
      </div>
    </div>

  </div>
  <div class="container-fluid shadow p-3 mb-5 bg-white rounded maincard">
    <div class="row  p-2">
      <div class="col-lg-12 pannel">
        <h6 class="paneltitle">COMPANY INVOICE DASHBOARD</h6>
      </div>
    </div>
    <div class="row p-4">


      <div class="col-lg-4">
        <ng-daterangepicker [options]="options"  [(ngModel)]="value" (ngModelChange)="selectedDate($event)">
        </ng-daterangepicker>
      </div>

      <div class="col-lg-3">
        <input type="text" placeholder="search.." [(ngModel)]="BuildingSearch" class="form-control" id="txt_searchBuilding">
      </div>

    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12  table-responsive">
          <table class="table table-bordered table-hover table-condensed">
            <tbody>
              <tr class="tableheader tableheaderfont buildingtable">
                <td>Company Name</td>
                <td>Invoice Date</td>
                <td>Invoice Amount</td>
                <td>For the Month Of</td>
                <td>Total Amount</td>
                <td>Descriptions</td>
                <td>Actions</td>
              </tr>
              <tr *ngFor="let Company of CompanyInvoiceLists | filter:BuildingSearch">
                <td>{{Company.companyName}}</td>
                <td>{{Company.invoiceDate|date}}</td>
                <td>{{Company.invoiceAmount}}</td>
                <td>{{Company.forTheMonthOf}}</td>
                <td>{{Company.totalAmount}}</td>
                <td>{{Company.decriptions}}</td>
                <td>
                  <i class="fa fa-image" aria-hidden="true" data-toggle="modal" style="color: #00b5d7" data-target="#myInvoiceModaladdNew"
                    title="Invoice" (click)="GetDetails(Company)"></i>&nbsp;
                  <button class="btn btn-primary editable-table-button btn-xs" data-toggle="modal" data-target="#my1ModalAttachments1" style="background-color: #00b5d7;"
                    (click)="DeleteProject(Company.id)">Recieved Payments
                  </button>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="myInvoiceModaladdNew">
  <div class="modal-dialog modal-lg">
    <i class="fa fa-times" aria-hidden="true" data-dismiss="modal" style="margin-top: 15px;"></i>
    <div class="modal-content" style="margin-top: 64px;
            width: auto; height:auto; margin-left:108px;">
      <div class="modal-header">
        <h4>Company Invoice</h4>
        <div data-toggle="tooltip" title="Add Attachments" data-dismiss="modal">
        </div>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="col-lg-12 card" style="    margin-left: 1px;" id="content">
          <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-6">
              <h1 style="color: #bb0508;font-size: 30px;">{{companyName}}</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <label>Company Details</label>
              <p style="color: #3a515f;">{{companyName}}</p>
              <p style="color: #3a515f;">{{address}}</p>
              <p style="color: #3a515f;">{{emailID}}</p>

            </div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
              <label style="color: green;font-size: 17px;">Invoice Order</label>
              <br>
              <label>Date As:</label>
              <input type="text" class="signature" [(ngModel)]="invoiceDate" name="podate" />
              <br>
              <!-- <label>Invoice Number #:</label>
              <input type="text" class="signature" [(ngModel)]="invoiceNumber" name="ponumber" /> -->
            </div>
          </div>
          <div class="row">
            <hr class="new5">
          </div>

          <!-- <div style="line-height: 22px;margin-left: 16px;">
            <div class="row">
              <label style="margin-block-end: auto;">Contact :</label>&nbsp;
              <input style="width: 89%;" type="text" class="signature" [(ngModel)]="bname" name="contractorname" /> </div>
            <div class="row">
              <label style="margin-block-end: auto;">Company Name:&nbsp;</label>
              <input style="width: 82%;" type="text" class="signature" [(ngModel)]="company" name="contractorcompany" /> </div>

            <div class="row">
              <label style="margin-block-end: auto;">Date:&nbsp;</label>
              <input style="width: 89%;" type="text" class="signature" [(ngModel)]="invoiceDate" name="contractorphone" />
            </div>
          </div> -->
          <br>
          <div class="row">
            <div class="col-lg-12">
              <table class="table table-bordered table-hover table-condensed mainbuild">
                <tr>
                  <th>Company Name</th>
                  <th>Invoice Date</th>
                  <th>Invoice Amount</th>
                  <th>For The Month Of</th>
                  <th style="width: 100px;">Total Amount</th>

                </tr>
                <tr>
                  <td>{{companyName}}</td>
                  <td>{{invoiceDate}}</td>
                  <td>{{invoiceAmount}}</td>
                  <td>{{forTheMonthOf}}</td>
                  <td>{{totalAmount}}</td>
                </tr>
              </table>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-9"></div>
            <div class="col-lg-3">
              <p style="margin-top: 4px;background-color: #b7c3d0;padding-top: 6px;padding-bottom: 6px;padding-left: 12px;">Total Amount:{{invoiceAmount}}</p>
            </div>
          </div>
          <br>

          <div class="row">

            <div class="col-lg-7 box1" style="font-size:14px;">{{descriptions}}
            </div>
            <div class="c0l-lg-9"></div>
            <div class="col-lg-3" style="margin-left: 520px;">
              <label>Signature</label>
              <input type="text" style="text-align: center; width:75%;" class="signature" value="Ayla" name="username" />
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
      <br>
    </div>
    <br>
  </div>
  <br>
</div>