.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    th{
      border: 1px solid #dddddd;
      text-align: center;
      color:white;
      padding: 10px;
      background-color:#00b5d7;
      font-size: 12px;
      height: 30px;
      width:10%;
    
    }
    
    
    td {
      border: 1px solid #00b5d7;
      text-align: center;
      color:black;
      padding: 10px;
      font-size: 12px;
      /* height: 30px; */
    } 



    /* for callender start*/


/* 
@media (max-width: 800px) {
    .callendertable .time {
        display: none;
    }
} */

.event_Pending{
  color: #333;
  /* background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%); */
  /* background: linear-gradient(to bottom left, #33ccff 0%, #ffffcc 100%); */
  border-radius: 5px;
}

.event_Rejected{
  color: #333;
  background: linear-gradient(110deg, #fd413b 60%, #fd413b 60%);
  /* background: linear-gradient(to bottom left, #33ccff 0%, #ffffcc 100%); */
  border-radius: 5px;
}

.event_Approved{
  color: #333;
  background: linear-gradient(110deg, #63d82c 60%, #56ff4b 60%);
  /* background: linear-gradient(to bottom left, #33ccff 0%, #ffffcc 100%); */
  border-radius: 5px;
}

.callenderdiv {
  width: 100%;
  margin-left: 1px;
}

.callenderboxes {
  width: 100%;
  height: 180px;
  background: white;
  border: 1px solid antiquewhite;
}

.callenderboxes:hover {
  /* background: greenyellow; */
  border: 1px solid #00addf;
}

.todayDate {
  /* background-color: #71c6c1; */
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  width: 100%;
  height: 500px;
  text-align: center;
}

.datenumber {
  color: white;
  margin-top: 38%;
  font-size: 100px;
}

.dateday {
  color: white;
  font-size: -webkit-xxx-large;
}

.callendernavButtons {
  text-align: center;
  font-size: xx-large;
  margin-bottom: 2%;
}

.callendernavButtons a {
  color: white;
}


/* for callender End*/