<div class="container-fluid Pages_background Mobilecss">
  <div>
    <div class="row">
      <div class="col-lg-12">
        <h4 class="Pages_header">Budget Dashboard</h4>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-12 dashbutton" style="margin-left: -14px;">
        <button routerLink="/NewBudget" *ngIf="LoginTypeID==2 || LoginTypeID==3 " type="button" id="btn_button">Add New
        </button>
      </div>
    </div>
  </div>

  <div class="container-fluid shadow p-3 mb-5 bg-white rounded maincard" style="    margin-left: -14px;">
    <div class="row  p-2">
      <div class="col-lg-12 pannel">
        <h6 class="paneltitle">Budget Dashboard</h6>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-3" style="margin-left: 20px;">
        <input type="text" placeholder="Search" [(ngModel)]="Search" class="form-control" id="txt_StaffsearchBuilding">
      </div>
      <div class="col-lg-5">

      </div>
      <div class="col-lg-3" style="text-align: end; margin-left: 52px;">
        <label>Count : {{Count}}</label>
      </div>
    </div>
    <br>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12  table-responsive">
          <table class="table table-bordered table-hover table-condensed" style="text-align: center;">
            <tbody>
              <tr class="tableheader tableheaderfont" style="background-color:#00b5d7; color: white;">
                <!-- <td>Project Name</td> -->
                <td>Stage Name</td>
                <td>No. Of Hours</td>
                <td>Description</td>
                <td>Actions</td>
              </tr>
              <tr *ngFor="let project of projectlist | filter:Search">
                <!-- <td>{{project.name}}</td> -->
                <td>{{project.stage}}</td>
                <td>{{project.noOfHours}}</td>
                <td>{{project.description}}</td>
                <td style="width: 217px;">
                  <i class="fa fa-edit" title="Edit" [routerLink]="['/NewBudget',project.id]"></i>&nbsp;
                  <i class="far fa-trash-alt" title="Delete" (click)="DeleteProject(project.id)"></i>&nbsp;
                </td>
              </tr>
          </table>
        </div>
      </div>
    </div>
  </div>