@media screen and (max-width: 1280px){
   
    .label1{
        margin-left: 81px;
        margin-top: 29px
    }

}
@media screen and (min-width: 1400px) {
    .label1{
        margin-left: 102px;
        margin-top: 29px
    }
}
   
