<div class="container-fluid Pages_background">
    <div class="row">
        <div class="col-lg-5">
            <h4 class="Pages_header" style="margin-left: -14px;">Add New Holidays</h4>
        </div>
        <div class="col-lg-3">
        </div>
        <div class="col-lg-4">
            <div class="row mainrow">
                <div class="col-lg-12">
                    <!-- <span class="building"> Staff/ Add New Holidays </span> -->
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid shadow p-3 mb-5 bg-white rounded maincard " style="margin-left: -14px;    margin-top: 30px;">

        <form>
            <div class="row ">
                <div class=col-lg-1> </div>
                <div class="col-lg-2">
                    <h5 class="formlabel" style="padding: 5px">Holiday Name</h5>
                </div>
                <div class="col-lg-5">
                    <input type="text" [(ngModel)]="HolidaysEntity.HolidayName" name="HolidayNamedgf" id="HolidayName" class="form-control" placeholder="Holiday Name">
                </div>
            </div>
            <div class="row ">
                <div class=col-lg-1> </div>
                <div class="col-lg-2">
                    <h5 class="formlabel" style="padding: 5px">Description</h5>
                </div>
                <div class="col-lg-5">
                    <input type="text" [(ngModel)]="HolidaysEntity.Descriptions" name="Descriptionsdf" id="Descriptions" class="form-control"
                        placeholder="Description">
                </div>
            </div>

            <div class="row ">
                <div class=col-lg-1> </div>
                <div class="col-lg-2">
                    <h5 class="formlabel" style="padding: 5px">Date</h5>
                </div>
                <div class="col-lg-5">
                    <input type="date" [(ngModel)]="HolidaysEntity.Date" name="datesawf" class="form-control" id="ddl_Date">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-2" *ngIf="HoildayID==null">
                    <button class="savebutton" (click)="InsertHolidaysLists()" id="btn_utilitySave" type="submit">Save</button>
                </div>

                <div class="col-lg-2" *ngIf="HoildayID!=null">
                    <button class="savebutton" (click)="UpdateHolidaysLists()" id="btn_utilitySave" type="submit">Update</button>
                </div>
            </div>
        </form>
    </div>