<div class="container-fluid Pages_background">
  <div class="row">
    <div class="col-lg-6">
      <h4 class="Pages_header">Contractor Documents</h4>
    </div>
    <div class="col-lg-3">
    </div>
    <div class="col-lg-3">
      <div class="row mainrow">
        <!-- <div class="col-lg-12 BreadChrumbProperties">
          <span class="building"> Project / Contractor Documents</span>
        </div> -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6">
    </div>
    <div class="col-lg-3">
      <div class="row mainrow">
        <div class="col-lg-12 dashbutton">
          <button style="margin-left: 97px" type="button" routerLink="/ContractorDocuments" *ngIf="LoginID==3"
            routerLinkActive="active-link" id="btn_button" class="">Add New
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- <button type="button" class="btn  btn-md excelbutton" (click)="exporttoexcel()">
        Export To Excel
      </button> -->
  </div>


  <div class="container-fluid shadow p-3 mb-5 bg-white rounded maincard" style="margin-left: -5px;">
    <h4 class="paneltitle ">Contractor Documents</h4>
    <hr>
    <div class="row">
      <div class="col-lg-4">
        <ng-daterangepicker [(ngModel)]="value" [options]="pickeroptions" (ngModelChange)="selectedDate($event)">
        </ng-daterangepicker>
      </div>

      <div class="col-lg-3">
        <input type="text" placeholder="Search" [(ngModel)]="Search" class="form-control topdropdown"
          id="ddl_creditdashboardSearcContractorlisth" style="width: 248px;">
      </div>
      <div *ngIf="LoginID==3" class="col-lg-3">
        <select class="form-control" id="ContractorID" [(ngModel)]="Contractorid" (change)="GetContractorID($event)">
          <option value="0" selected="selected"> Select Contractor</option>
          <option value="{{build.id}}" *ngFor="let build of Contractorlist">{{build.company}}</option>
        </select>
      </div>
    </div>



    <div class="row p-2">
      <div class="row table-responsive tableresposive tableresponsive" style="padding: 9px;
        margin-left: 1px;">
        <table class="table table-bordered table-hover table-condensed mainbuild" style="text-align: center;">
          <tbody>
            <tr class="tableheader tableheaderfont" style="background-color: #00b5d7; color: White;">
              <td *ngIf="LoginID==3">Contractor name</td>
              <td>Document name</td>
              <!-- <td>Stage</td> -->
              <td>Date</td>
              <td> Description</td>
              <td>Action </td>
            </tr>
            <tr *ngFor="let Project of ProjectAssignedLists| filter:Search">
              <td *ngIf="LoginID==3">{{Project.company}}</td>
              <td>{{Project.documentName}}</td>
              <td>{{Project.date|date}}</td>
              <td>{{Project.documentsDescriptions}}</td>
              <td>
                <i class="fa fa-image" aria-hidden="true" data-toggle="modal" data-target="#myModaladdNew"
                  title="Documents" (click)="getphpto(Project.id)"></i>&nbsp;
                <i class="far fa-trash-alt" title="Delete" *ngIf="LoginID!=4" (click)="DeleteProject(Project.id)"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- <div class="modal fade" id="myModaladdNew">
    <div class="modal-dialog modal-lg">
      <i class="fa fa-times" aria-hidden="true" data-dismiss="modal" style="margin-top: 15px;"></i>
      <div class="modal-content" style="margin-top: 64px;
        width: auto; height:auto; margin-left:108px;">
        <div class="modal-header">
          <h4>Contractor Documents</h4>
          <div data-toggle="tooltip" title="Add Attachments" data-dismiss="modal">
          </div>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="row" style="padding: 39px;">

          <div class="col-lg-6" *ngFor="let pic of photos">
            <br>
            <img src="{{pic.photos}}" style="width:80%">
            <br>
          </div>
          <br>
          <br>
        </div>
        <br>
      </div>
      <br>
    </div>
    <br>
  </div> -->
  <div id="myModaladdNew" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content" style="margin-top: 100px;">
        <div class="modal-header">
          <h4>Documents</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div id="myCarouselPhotos1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="item active">
                <img src="{{ImagesOne}}" alt="">
              </div>
              <div class="item" *ngFor="let Attachment of photos| slice:1">
                <img src="{{Attachment.photos}}" alt="">
              </div>
            </div>
            <a class="left carousel-control" href="#myCarouselPhotos1" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarouselPhotos1" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>