<div class="container-fluid " style="background-color: #F0F3F4;">
  <div class="row">
    <div class="col-lg-6">
      <h4 class="header">ASSET</h4>
    </div>
    <div class="col-lg-3">
    </div>
    <div class="col-lg-3">
      <div class="row mainrow">
        <div class="col-lg-12">
          <span class="building"> Assets </span> / Asset</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6">
    </div>
    <div class="col-lg-3">
      <div class="row mainrow">
        <div class="col-lg-12">
       
        </div>
      </div>
    </div>
  </div>

  <div class="shadow p-3 mb-5 bg-white col-lg-12 rounded maincard ">
    <div class="row">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-2 ">
        <p style="padding:5px">Asset Name <span class="starspan">*</span></p>
      </div>
      <div class="col-lg-5 ">
        <input type="text" placeholder="Enter Asset Name" class="form-control maindropdown" id="txt_usr">
      </div>

    </div>

    <div class="row">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-2 ">
        <p style="padding:5px">Asset Type <span class="starspan">*</span></p>
      </div>
      <div class="col-lg-5 ">
        <select class="dropdown form-control maindropdown" name="Building" required="">
          <option> Select Asset</option>
          <option label="Computer" value="object:1427">Post Katy Trail</option>
          <option label="HAVC" value="object:1428">Post Coles Corner</option>
          <option label="Sports Items" value="object:1429">Post Vineyard</option>
          <option label="Accesseries" value="object:1430">The Civic</option>
          <option label="Maintainance" value="object:1431">Hue At Cityplace</option>
          <option label="Post Gallery" value="object:1432">Post Gallery</option>
          <option label="Hollings Worth" value="object:1433">Hollings Worth</option>
          <option label="Montery At Park" value="object:1434">Montery At Park</option>
          <option label="The Lanthian" value="object:1435">The Lanthian</option>
          <option label="Post Abbey" value="object:1436">Post Abbey</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-2 ">
        <p style="padding:5px">Building<span class="starspan">*</span></p>
      </div>
      <div class="col-lg-5 ">
        <select class="dropdown form-control maindropdown" name="Building" required="">
          <option> Select Building</option>
          <option label="Post Katy Trail" value="object:1427">Post Katy Trail</option>
          <option label="Post Coles Corner" value="object:1428">Post Coles Corner</option>
          <option label="Post Vineyard" value="object:1429">Post Vineyard</option>
          <option label="The Civic" value="object:1430">The Civic</option>
          <option label="Hue At Cityplace" value="object:1431">Hue At Cityplace</option>
          <option label="Post Gallery" value="object:1432">Post Gallery</option>
          <option label="Hollings Worth" value="object:1433">Hollings Worth</option>
          <option label="Montery At Park" value="object:1434">Montery At Park</option>
          <option label="The Lanthian" value="object:1435">The Lanthian</option>
          <option label="Post Abbey" value="object:1436">Post Abbey</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-2 ">
        <p style="padding:5px">Address <span class="starspan">*</span></p>
      </div>
      <div class="col-lg-5 ">
        <input type="text" placeholder="Address" class="form-control maindropdown" id="txt_usr">
      </div>
    </div>


    <div class="row">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-2 ">
        <p style="padding:5px">Floor <span class="starspan">*</span></p>
      </div>
      <div class="col-lg-5 ">
        <select class="dropdown form-control maindropdown" name="Building" required="">
          <option> Select Floor</option>
          <option label="Floor 1" value="object:1427">Floor 1</option>
          <option label="Floor 2" value="object:1428">Floor 2</option>
          <option label="Floor 3" value="object:1429">Floor 3</option>
          <option label="Floor 4" value="object:1430">Floor 4</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-2 ">
        <p style="padding:5px">Unit</p>
      </div>
      <div class="col-lg-5 ">
        <input type="text" placeholder="Unit" class="form-control maindropdown" id="txt_usr">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-2 ">
        <p style="padding:5px">Contact Name</p>
      </div>
      <div class="col-lg-5 ">
        <select class="dropdown form-control maindropdown" name="Building" required="">
          <option> Select Parent Asset</option>
          <option label="Elevator" value="object:1427">Floor 1</option>
          <option label="Electrical" value="object:1428">Floor 2</option>
          <option label="Boiler" value="object:1429">Floor 3</option>
          <option label="Air Handling Unit" value="object:1430">Floor 4</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-2 ">
        <p style="padding:5px">Model Name
        </p>
      </div>
      <div class="col-lg-5 ">
        <input type="text" placeholder="Model Name" class="form-control maindropdown" id="txt_usr">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-2 ">
        <p style="padding:5px">Serial Number
        </p>
      </div>
      <div class="col-lg-5 ">
        <input type="text" placeholder="Serial Number" class="form-control maindropdown" id="txt_usr">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-2 ">
        <p style="padding:5px">Purchase Date <span class="starspan">*</span></p>
      </div>
      <div class="col-lg-5 ">
        <input type="text" placeholder="Purchase Date" class="form-control maindropdown" id="txt_usr">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-2 ">
        <p style="padding:5px">Vendor Name<span class="starspan">*</span>
        </p>
      </div>
      <div class="col-lg-5 ">
        <input type="text" placeholder="Vendor Contact Name" class="form-control maindropdown" id="txt_usr">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-2 ">
        <p style="padding:5px">Vendor Phone<span class="starspan">*</span>
        </p>
      </div>
      <div class="col-lg-5 ">
        <input type="text" placeholder="Vendor Phone" class="form-control maindropdown" id="txt_usr">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-2 ">
        <p style="padding:5px">Vendor Email
        </p>
      </div>
      <div class="col-lg-5 ">
        <input type="text" placeholder="Vendor Email" class="form-control maindropdown" id="txt_usr">
      </div>
    </div>


    <div class="row">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-2 ">
        <p style="padding:5px">Warranty Till
        </p>
      </div>
      <div class="col-lg-5 ">
        <input type="text" placeholder="Warranty Till" class="form-control maindropdown" id="txt_usr">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-2 ">
        <p style="padding:5px">First Service Due
        </p>
      </div>
      <div class="col-lg-5 ">
        <input type="text" placeholder="First Service Due" class="form-control maindropdown" id="txt_usr">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-2 ">
        <p style="padding:5px">Next Service Due
        </p>
      </div>
      <div class="col-lg-5 ">
        <input type="text" placeholder="Next Service Due" class="form-control maindropdown" id="txt_usr">
      </div>
    </div>


    <div class="row">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-2 ">
        <p style="padding:5px">
          Remind Me In<span class="starspan">*</span>
        </p>
      </div>
      <div class="col-lg-5 ">
        <select class="dropdown form-control maindropdown" name="Building" required="">
          <option> Remind In</option>
          <option label="1 Month Before" value="object:1427">Floor 1</option>
          <option label="2 Month Before" value="object:1428">Floor 2</option>
          <option label="3 Month Before" value="object:1429">Floor 3</option>
          <option label="4 Month Before" value="object:1430">Floor 4</option>
        </select>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-2 ">
        <p style="padding:5px">Invoice
        </p>
      </div>
      <div class="col-lg-7 ">
        <input type="text" placeholder="Next Service Due" class="form-control maindropdown" id="txt_usr">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-2 ">
        <p style="padding:5px">Attachment
        </p>
      </div>
      <div class="col-lg-7 ">
        <input type="text" placeholder="Attachment" class="form-control maindropdown" id="txt_usr">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-2 ">
        <p style="padding:5px">
          Asset Photo
        </p>
      </div>
      <div class="col-lg-7 ">
        <input type="text" placeholder="
              Asset Photo" class="form-control maindropdown" id="txt_usr">
      </div>
    </div>


    <div class="row">
      <div class="col-lg-4">
      </div>
      <div class="col-lg-2">
          <button class="savebutton" type="submit">Save</button>
        </div>
    </div>
  </div>
</div>