<div class="container-fluid " style="background-color: #F0F3F4;">
    <div class="row">
        <div class="col-lg-6">
            <b>
                <h3 class="header"><b>{{pageMenuTitle}}</b></h3>
            </b>
        </div>
        <div class="col-lg-3">
        </div>
        <div class="col-lg-3">
            <div class="row mainrow">
                <div class="col-lg-12 BreadChrumbProperties">
                    <span> {{visitorParkingLanguage_breadchrumb}} </span></div>
            </div>
        </div>
    </div>

    <div class="shadow p-3 mb-5 bg-white rounded   maincard ">
 
        <h6 class="paneltitle">{{visitorParkingLanguage_PageTitle}}</h6>
        <hr>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="row mainrow">
                <div class="col-lg-10">
                </div>
                <div class="col-lg-2 dashbutton">
                    <button type="button" *ngIf="!newparking" (click)="newparkingallocation()"
                        routerLinkActive="active-link"
                        id="btn_VisitorParking_AllocateParking">{{visitorParkingLanguage_button_NewParkingAllocation}}</button>
                </div>
                <div class="col-lg-2 dashbutton">
                    <button type="button" *ngIf="newparking" (click)="newparkingallocation()"
                        routerLinkActive="active-link" id="btn_VisitorParking_AllocateParking">Visitor Parking
                        Dashboard</button>
                </div>
            </div>
        </div>
  

    </div>

    <div class="row" *ngIf="!newparking">
        <div class="col-lg-9" style="margin-bottom: 121%;">
            <div>
                <div class="panel with-scroll animated zoomIn">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title formlabel">{{visitorParkingAllocation_parkingslots}}</h3>
                    </div>
                    <hr>
                    <div class="panel-body" ng-transclude="">
                        <div class="row ng-scope">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <select class="dropdown form-control " id="ddl_visitorparkingBuilding"
                                        (change)="getparkingslotsbybuildingid($event)">
                                        <option value="none" selected="selected">Select Building</option>
                                        <option value="{{building.id}}" *ngFor="let building of buildinglist">
                                            {{building.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="width: 100%;">
                        <div *ngFor="let parkingslot of filteredparkinglist">
                            <div *ngIf="parkingslot.kkk==2" class="col-lg-12" style="text-align:center">
                                <a (click)="getslotdetails(parkingslot)">
                                    <p>{{parkingslot.floor}}</p>
                                    <div class="slots">
                                        <span>{{parkingslot.slot}} {{parkingslot.tenantName}}</span>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3" *ngIf="slotdetails">
            <div ba-panel="" ba-panel-title="Allotted Parking Slots" ba-panel-class="with-scroll"
                ng-show="Parking.dashboard==0" class="">
                <div class="panel with-scroll animated zoomIn" zoom-in="">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <img src="{{selectedVisitorPhoto}}" style="width: 100%" class="imgResponsive">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-12  table-responsive">
                                <table class="table table-bordered table-hover table-condensed">
                                    <tbody>
                                        <tr>
                                            <td>
                                                Visitor Name :
                                            </td>
                                            <td>
                                                {{selectvisitorname}}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                Visitor Phone :
                                            </td>
                                            <td>
                                                {{selectvisitorphone}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Floor :
                                            </td>
                                            <td>
                                                {{selectedtenantfloor}}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                Unit :
                                            </td>
                                            <td>
                                                {{selectedtenantunit}}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                Parking Slot :
                                            </td>
                                            <td>
                                                {{selectedtenantslot}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Visitor Type :
                                            </td>
                                            <td>
                                                {{selectvisitortype}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Tenant Name :
                                            </td>
                                            <td>
                                                {{tname}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Tenant Phone :
                                            </td>
                                            <td>
                                                {{tphone}}
                                            </td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-lg-12">
                                <p>Name : {{selectedtenantName}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <p>Mobile Number : {{selectedtenantPhoneNumber}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <p>Unit : {{selectedtenantunit}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <p>Floor : {{selectedtenantfloor}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <p>Slot : {{selectedtenantslot}}</p>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid shadow p-3 mb-5 bg-white rounded maincard" *ngIf="newparking">
    <h4 class="paneltitle "> {{tenantParkingAllocation_ALLOTTED}}</h4>
    <hr>
    <form>
        <div class="row p-2">
            <div class="col-lg-3">
                <div class="form-group">
                    <select class="dropdown form-control " id="ddl_NewvisitorparkingBuilding"
                        (change)="getFloorlist($event)">
                        <option value="none">Select Building</option>
                        <option value="{{building.id}}" *ngFor="let building of buildinglist">{{building.name}}</option>

                    </select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <select class="dropdown form-control " id="ddl_NewvisitorparkingFloor"
                        (change)="GetSlotListByID($event)">
                        <option value>Select Floor</option>
                        <option value="{{floor.floorID}}" *ngFor="let floor of floorlist">{{floor.floorname}}</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <select class="dropdown form-control" name="visitorid" [(ngModel)]="visitorid"
                        id="ddl_Newvisitorname" (change)="getvisitordetails($event)">
                        <option value="0">Select visitor</option>
                        <option value="{{visitor.id}}" *ngFor="let visitor of visitorList">{{visitor.visitorName}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="col-lg-3">
                <input type="text" [(ngModel)]="visitorPhonenumber" name="visitorPhonenumber"
                    id="txt_visitorparkingPhoneNumber" placeholder="Visitor Phone number" class="form-control">
            </div>
        </div>

        <!-- <div class="row" *ngIf="SlotList">
            <div *ngFor="let slot of SlotList">
                    <div class="col-lg-12" *ngIf="slot.kkk==0">
                            <input type="checkbox"  (change)="onslotselect($event,slot)">
                            <p>{{slot.slot}}</p>
                        </div>
            </div>
          
        </div> -->

        <div class="row">
            <div class="col-lg-12" *ngIf="SlotList">
                <div *ngFor="let slot of SlotList | filter:facing">
                    <div class="col-lg-2" *ngIf="slot.kkk==0">
                        <div class="col-lg-12" style="border: 3px solid #4b49c8;margin-top: 5px;border-radius: 10px">
                            <input type="checkbox" style="margin: 4px 0 0 -13px;"
                                (change)="onslotselect($event,slot)"><span
                                style="margin-left: 5px">{{slot.slot}}</span><span
                                style="margin-left: 5px">{{slot.facing}}</span>
                            <!-- <p >{{slot.facing}}</p>  -->
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div>
            <button type="button" class="btn btn-primary savebutton" id="btn_visitorNewParkingAllocate"
                (click)="allocateParking()">Save</button>
        </div>
    </form>


</div>