<div class="container-fluid " style="background-color: #F0F3F4;">
    <div class="row">
        <div class="col-lg-6">
            <h4 class="header">Project Tracking</h4>
        </div>
        <div class="col-lg-3">
        </div>
        <div class="col-lg-3">
            <div class="row mainrow">
                <div class="col-lg-12 BreadChrumbProperties">
                    <span class="projectreqbc"> Dashboard/Project Tracking </span> </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">
        </div>
        <div class="col-lg-3">
            <div class="row mainrow">
                <div class="col-lg-12 dashbutton">
                    <button type="button" class="newprojreq" routerLink="/NewProjectTracking"
                        routerLinkActive="active-link" id="btn_button">New Project Schedule</button>
                </div>
            </div>
        </div>
    </div>


    <div class="shadow p-3 mb-5 bg-white rounded col-lg-12  maincard ">
        <h6 class="paneltitle">Project Tracking</h6>
        <hr>
        <div class="row">
            <div class="col-lg-3">
                <select class="form-control" id="ddl_buildingplans">
                    <option value="none" selected="selected"> Select Building</option>
                    <option value="{{build.name}}" *ngFor="let build of Buildinglist">{{build.name}}</option>
                </select>
            </div>
            <div class="col-lg-3">
                <select [(ngModel)]="ProjectID" name="ProjectID" (change)="Projecttasks($event.target.value)"
                    class="dropdown form-control" style="width: 230px;" required id="ddl_RemindIn">
                    <option value="0">Select Projects</option>
                    <option value="{{Project.projectID}}" *ngFor="let Project of Projectlist">
                        {{Project.request}}
                    </option>
                </select>
            </div>
        </div>
        <br>
        <!-- <div class="table-responsive">
            <table class="table table-bordered table-hover table-condensed">
                <tbody>
                    <tr class="tableheader tableheaderfont">
                        <td>Project Name</td>
                        <td>No Of Tasks</td>
                        <td>Complete %</td>
                        <td>Milestones Reached</td>
                    </tr>
                    <tr>
                        <td>Project Name</td>
                        <td>20</td>
                        <td>75%</td>
                        <td>2</td>
                    </tr>
                </tbody>
            </table>
        </div> -->
        <div class="container-fluid">
            <accordion [closeOthers]="true" *ngIf="ProjectDetails.length!=0">
                <accordion-group class="card container-fluid shadow p-3 mb-5 bg-white rounded maincard panel"
                    *ngFor="let Project of FileredProjectlist">
                    <div accordion-heading class="accordion-headder progress " style=" border: 1px solid">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                            [ngStyle]="{'width.%': ProjectPercentage}" aria-valuenow="70" aria-valuemin="0"
                            aria-valuemax="100">
                            <span style="font-size: 14px; color: #000; ">Project {{Project.request}} has Progressed
                                {{ProjectPercentage|number:'1.0-0'}}% </span>
                        </div>
                    </div>
                    <div>
                        <!-- <p *ngFor="let Proj of ProjectDetails">{{Proj.tasks}}<br>
                        </p> -->
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-condensed">
                                <tbody>
                                    <tr class="tableheader tableheaderfont"
                                        style="background-color: #00b5d7; color: white;">
                                        <td>Task Name</td>
                                        <td>Start Date</td>
                                        <td>End Date</td>
                                        <td>Comments</td>
                                        <td>Attachments</td>
                                        <td>Status </td>
                                    </tr>
                                    <tr *ngFor="let Proj of ProjectDetails">
                                        <td *ngIf="Proj.isCompleted==true" style="color: forestgreen">{{Proj.tasks}}
                                        </td>
                                        <td *ngIf="Proj.isCompleted==false">{{Proj.tasks}}</td>

                                        <td *ngIf="Proj.isCompleted==true" style="color: forestgreen">
                                            {{Proj.startDate|date}}</td>
                                        <td *ngIf="Proj.isCompleted==false">{{Proj.startDate|date}}</td>

                                        <td *ngIf="Proj.isCompleted==true" style="color: forestgreen">
                                            {{Proj.endDate|date}}</td>
                                        <td *ngIf="Proj.isCompleted==false">{{Proj.endDate|date}}</td>

                                        <td *ngIf="Proj.isCompleted==true" style="color: forestgreen">
                                            {{Proj.comments}}</td>
                                        <td *ngIf="Proj.isCompleted==false">{{Proj.comments}}</td>


                                        <!-- <td style="color: forestgreen">{{Proj.PhotoUrl}}
                                        </td> -->

                                        <td><img src="{{Proj.photoUrl}}" style="height: 5%;"></td>


                                        <td *ngIf="Proj.isCompleted==true" style="color: forestgreen">Completed</td>
                                        <td *ngIf="Proj.isCompleted==false">Pending</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </accordion-group>
            </accordion>
        </div>


    </div>
</div>