<div class="container-fluid Pages_background" style="    margin-left: -11px;">
  <div class="row">
    <div class="col-lg-6">
      <h4 class="Pages_header"> {{pageMenuTitle}}</h4>
    </div>
    <div class="col-lg-3">
    </div>
    <div class="col-lg-3">
      <div class="row mainrow">
        <div class="col-lg-12">
          <!-- <span class="building"> {{itemdashmaster_BreadChrumb}} </span> -->
        </div>
      </div>
    </div>
    <div class="row dddd">
      <div class="col-lg-12 dashbutton" style="    margin-left: 15px;">
        <button type="button" routerLink="/NewItemMaster" routerLinkActive="active-link" id="btn_button">
          {{itemdashmaster_Button}}
        </button>
        <button type="button" (click)="exporttoexcel()">
          Export To Excel
        </button>
      </div>
    </div>
  </div>




  <div class="container-fluid shadow p-3 mb-5 bg-white rounded maincard">
    <h4 class="paneltitle ">{{itemdashmaster_PageTitle}}</h4>
    <hr>
    <div class="row p-2" style="    margin-left: -2px;">
      <!-- <div class="col-lg-3">
        <input type="text" placeholder="Search" [(ngModel)]="Search" class="form-control" id="ddl_inventorySearch">
      </div> -->
      <div class="col-lg-3 ">
        <select class="form-control" id="Category" (change)="GetCategoryID($event)">
          <option value="0" selected="selected"> Select Category</option>
          <option value="{{category.category}}" *ngFor="let category of CategoryLists">{{category.category}}</option>
        </select>
      </div>
      <div class="col-lg-3 ">
        <select class="form-control" id="ddl_buildingplans" (change)="FilterByEquipment($event)">
          <option value="none" selected="selected"> Select Subcategory</option>
          <option value="{{equip.short}}" *ngFor="let equip of EquipmentList">{{equip.short}}</option>
        </select>
      </div>
      <div class="col-lg-3 ">
        <select class="form-control" id="ddl_buildingplans" (change)="FilterByEquipmentName($event)">
          <option value="none" selected="selected"> Select Item</option>
          <option value="{{Equipment.short}}" *ngFor="let Equipment of EquipmentNameList">{{Equipment.short}}</option>
        </select>
      </div>
      <label class="label1">Count : {{Count}}</label>
    </div>
    <br>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12  table-responsive">
          <div class="row table-responsive tableresposive tableresponsive">
            <table id="Doc" class="table table-bordered table-hover table-condensed" style="text-align: center;">
              <tbody>
                <tr class="tableheader tableheaderfont">
                  <td>Category</td>
                  <td>Sub Category</td>
                  <td>{{itemdashmaster_ItemName}}</td>

                  <!-- <td style="width:390px">Property</td> -->
                  <td>{{itemdashmaster_Action}} </td>
                </tr>
                <tr *ngFor="let Item of FilteredItemList| filter:Search">
                  <td>{{Item.category}}</td>
                  <td>{{Item.typename}}</td>
                  <td>{{Item.short}}</td>
                  <!-- <td>{{Item.name}}</td> -->
                  <td class=" TableActions">
                    <!-- <i class="fa fa-edit" (click)="EditItemMaster(Item)" data-toggle="tooltip" title="Edit"
                  style="background-color: white">
                </i>

                <i class="far fa-trash-alt" (click)="Delete(Item)" data-toggle="tooltip" title="Delete"
                  style="background-color: white">
                </i> -->
                    <i class="fa fa-edit" title="Edit" (click)="EditItemMaster(Item)"></i>&nbsp;
                    <i class="far fa-trash-alt" title="Delete" (click)="Delete(Item)"></i>
                  </td>
                </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>