/* Start of Mobile CSS */

.Mobilecss{
    margin-left: 0;
}


@media screen and (min-width: 320px) {
    .Mobilecss{
        margin-left: 15px;
    }
    
  }

  @media screen and (min-width: 1900px) {
    .Mobilecss{
        margin-left: 0;
    }
    
  }

  @media screen and (min-width: 1600px) {
    .Mobilecss{
        margin-left: 0;
    }
    
  }

  @media screen and (min-width: 1400px) {
    .Mobilecss{
        margin-left: 0;
    }
    
  }


  /*End of Mobile CSS*/