<div class="container-fluid Pages_background">
    <div class="row">
        <div class="col-lg-5">
            <h4 class="Pages_header">New Investor</h4>
        </div>
        <div class="col-lg-3">
        </div>
        <div class="col-lg-4">
            <div class="row mainrow">
                <div class="col-lg-12 BreadChrumbProperties">
                    <span class="building" style="margin-left: 204px;"> Staff/ New Investor</span> </div>
            </div>
        </div>
    </div>
    <div class="container-fluid shadow p-3 mb-5 bg-white rounded maincard ">
        <div class="row subheader">
            <div class="col-lg-12">
                <h4 class="paneltitle">New Investor</h4>
            </div>
        </div>
        <hr>
        <form>
            <div class="row ">
                <div class=col-lg-1> </div>
                <div class="col-lg-2">
                    <h5 class="formlabel" style="padding: 5px">Name</h5>
                </div>
                <div class="col-lg-5">
                    <input type="text" name="Name" id="Name" class="form-control" placeholder="Name">
                </div>
            </div>

            <div class="row ">
                <div class=col-lg-1> </div>
                <div class="col-lg-2">
                    <h5 class="formlabel" style="padding: 5px">Investor Type</h5>
                </div>
                <div class="col-lg-5">
                    <input type="text" name="InvestorType" id="InvestorType" class="form-control"
                        placeholder="InvestorType">
                </div>
            </div>

            <div class="row ">
                <div class=col-lg-1> </div>
                <div class="col-lg-2">
                    <h5 class="formlabel" style="padding: 5px">Investor Contact Name</h5>
                </div>
                <div class="col-lg-5">
                    <input type="text" name="ContactName" id="ContactName" class="form-control"
                        placeholder="ContactName">
                </div>
            </div>

            <div class="row ">
                <div class=col-lg-1> </div>
                <div class="col-lg-2">
                    <h5 class="formlabel" style="padding: 5px">Contact Number</h5>
                </div>
                <div class="col-lg-5">
                    <input type="number" name="ContactNumber" id="ContactNumber" class="form-control"
                        placeholder="ContactNumber">
                </div>
            </div>

            <div class="row ">
                <div class=col-lg-1> </div>
                <div class="col-lg-2">
                    <h5 class="formlabel" style="padding: 5px">EmailID</h5>
                </div>
                <div class="col-lg-5">
                    <input type="email" name="EmailID" id="EmailID" class="form-control" placeholder="EmailID">
                </div>
            </div>

            <div class="row ">
                <div class=col-lg-1> </div>
                <div class="col-lg-2">
                    <h5 class="formlabel" style="padding: 5px">Address</h5>
                </div>
                <div class="col-lg-5">
                    <input type="number" name="Address" id="Address" class="form-control" placeholder="Address">
                </div>
            </div>


            <div class="row ">
                <div class=col-lg-1> </div>
                <div class="col-lg-2">
                    <h5 class="formlabel" style="padding: 5px">EmailID</h5>
                </div>
                <div class="col-lg-5">
                    <input type="email" name="EmailID" id="EmailID" class="form-control" placeholder="EmailID">
                </div>
            </div>





            <div class="row">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-2" >
                    <button class="savebutton" id="btn_savePayrolls"
                        type="submit">Save</button>
                </div>
               
            </div>

        </form>
    </div>