<div class="container-fluid ">
  <div class="row">
    <div class="col-lg-6">
      <h4 class="header">Dashboard</h4>
    </div>
    <div class="col-lg-3">
    </div>
    <div class="col-lg-3">
      <div class="row mainrow">
        <div class="col-lg-12 buildings">
          <!-- <span class="building">Dashboard /Dashboard</span> -->
        </div>
      </div>
    </div>
  </div>


  <!-- <div class="shadow p-3 mb-5 bg-white rounded  maincard ">
    <div class="row" style="margin-top: 45px;">

      <div class="col-lg-1">
      </div>
      <div class="col-lg-2 card" style="box-shadow: 3px 1px 4px;
          height: 139px;">
        <h4 style="text-align: center; margin-top: 47px;">No of PO</h4>
        <h4 style="text-align: center">{{POCount}}</h4>
      </div>
      <div class="col-lg-1">
      </div>
      <div class="col-lg-2 card" style="box-shadow: 3px 1px 4px;
          height: 139px;">
        <h4 style="text-align: center; margin-top: 47px;">No of Active PO</h4>
        <h4 style="text-align: center">{{POActiveCount}}</h4>
      </div>
      <div class="col-lg-1">
      </div>
      <div class="col-lg-2 card" style="box-shadow: 3px 1px 4px;
      height: 139px;">
        <h4 style="text-align: center; margin-top: 47px;">No of Closed PO</h4>
        <h4 style="text-align: center">{{POClosedCount}}</h4>
      </div>
      <div class="col-lg-2">
      </div>
    </div>



    <div class="row" style="margin-top: 45px;">

      <div class="col-lg-1">
      </div>
      <div class="col-lg-2 card" style="box-shadow: 3px 1px 4px;
          height: 139px;">
        <h4 style="text-align: center; margin-top: 47px;">No Of Projects</h4>
        <h4 style="text-align: center">{{NoOfProjects}}</h4>
      </div>
      <div class="col-lg-1">
      </div>
      <div class="col-lg-2 card" style="box-shadow: 3px 1px 4px;
          height: 139px;">
        <h4 style="text-align: center; margin-top: 47px;">Active Projects</h4>
        <h4 style="text-align: center">{{NoOfProjects}}</h4>
      </div>
      <div class="col-lg-1">
      </div>
      <div class="col-lg-2 card" style="box-shadow: 3px 1px 4px;
      height: 139px;">
        <h4 style="text-align: center; margin-top: 47px;">Closed Projects</h4>
        <h4 style="text-align: center">0</h4>
      </div>
      <div class="col-lg-2">
      </div>
    </div>



    <div class="row" style="margin-top: 45px;">

      <div class="col-lg-1">
      </div>
      <div class="col-lg-2 card" style="box-shadow: 3px 1px 4px;
          height: 139px;">
        <h4 style="text-align: center; margin-top: 47px;">No of Invoices</h4>
        <h4 style="text-align: center">{{NoOfInvoices}}</h4>
      </div>
      <div class="col-lg-1">
      </div>
      <div class="col-lg-2 card" style="box-shadow: 3px 1px 4px;
          height: 139px;">
        <h4 style="text-align: center; margin-top: 47px;">Pending Invoices</h4>
        <h4 style="text-align: center">{{ActiveInvoices}}</h4>
      </div>
      <div class="col-lg-1">
      </div>
      <div class="col-lg-2 card" style="box-shadow: 3px 1px 4px;
      height: 139px;">
        <h4 style="text-align: center; margin-top: 47px;">Paid Invoices</h4>
        <h4 style="text-align: center">{{ClosedInvoices}}</h4>
      </div>
      <div class="col-lg-2">
      </div>
    </div>


    <div class="row" style="margin-top: 45px;">

      <div class="col-lg-1">
      </div>
      <div class="col-lg-2 card" style="box-shadow: 3px 1px 4px;
          height: 139px;">
        <h4 style="text-align: center; margin-top: 47px;">No of Staff</h4>
        <h4 style="text-align: center">{{NoOfStaff}}</h4>
      </div>
      <div class="col-lg-1">
      </div>
      <div class="col-lg-2 card" style="box-shadow: 3px 1px 4px;
          height: 139px;">
        <h4 style="text-align: center; margin-top: 47px;">Staff Leaves</h4>
        <h4 style="text-align: center">{{NoOfStaffLeaves}}</h4>
      </div>
      <div class="col-lg-1">
      </div>
      <div class="col-lg-2 card" style="box-shadow: 3px 1px 4px;
      height: 139px;">
        <h4 style="text-align: center; margin-top: 47px;">Staff Attendance</h4>
        <h4 style="text-align: center">0</h4>
      </div>
      <div class="col-lg-2">
      </div>
    </div>


    <br>
    <br>
    <br>
    <br>
  </div> -->



  <div class="shadow p-3 mb-5 rounded  maincard " style="margin-left: -14px;
  margin-top: 33px;height: 460px;">

    <label style="margin-left: 467px;
      font-size: 26px;
      font-weight: 800;
      font-family: inherit;">Purchase Orders</label>




    <div class="row" style="margin-top: 45px;">

      <div class="col-lg-3 card" style="height: 139px;
      margin-right: 47px;
      margin-left: 75px;
      background: #00b5d7;
      border-radius: 30px;
      color: white;">
        <h4 style="text-align: center; margin-top: 47px;">No of PO</h4>
        <label style="text-align: center; font-size: 21px">{{POCount}}</label>
      </div>

      <div class="col-lg-3 card" style="background: #00b5d7;
      border-radius: 30px;
      color: white;
        height: 139px;
        margin-left: 22px;
        margin-right: 71px;">
        <h4 style="text-align: center; margin-top: 47px;">No of Active PO</h4>
        <label style="text-align: center; font-size: 21px">{{POActiveCount}}</label>
      </div>

      <div class="col-lg-3 card" style="background: #00b5d7;
      border-radius: 30px;
      color: white;
        height: 139px;">
        <h4 style="text-align: center; margin-top: 47px;">No of Closed PO</h4>
        <label style="text-align: center; font-size: 21px">{{POClosedCount}}</label>
      </div>

    </div>


    <div class="row" style="margin-top: 45px;">

      <div class="col-lg-3 card" style="
          height: 139px;
          margin-right: 47px;
          margin-left: 75px;background: #00b5d7;
          border-radius: 30px;
          color: white; ">
        <h4 style="text-align: center; margin-top: 47px;">No Of Projects</h4>
        <label style="text-align: center; font-size: 21px">{{NoOfProjects}}</label>
      </div>

      <div class="col-lg-3 card" style="
          height: 139px;
          margin-left: 22px;
          margin-right: 71px;background: #00b5d7;
          border-radius: 30px;
          color: white;">
        <h4 style="text-align: center; margin-top: 47px;">Active Projects</h4>
        <label style="text-align: center; font-size: 21px">{{NoOfProjects}}</label>
      </div>

      <div class="col-lg-3 card" style="
          height: 139px;background: #00b5d7;
          border-radius: 30px;
          color: white;">
        <h4 style="text-align: center; margin-top: 47px;">Closed Projects</h4>
        <label style="text-align: center; font-size: 21px">0</label>
      </div>

    </div>

  </div>


  <div class="shadow p-3 mb-5 rounded  maincard " style="margin-left: -14px;
  margin-top: 33px;height: 311px;">

    <label style="margin-left: 467px;
  font-size: 26px;
  font-weight: 800;
  font-family: inherit;">Invoices</label>
    <div class="row" style="margin-top: 45px;">

      <div class="col-lg-3 card" style="height: 139px;
    margin-right: 47px;
    margin-left: 75px;
    background: #00b5d7;
    border-radius: 30px;
    color: white;">
        <h4 style="text-align: center; margin-top: 47px;">No of Invoices</h4>
        <label style="text-align: center; font-size: 21px">{{NoOfInvoices}}</label>
      </div>

      <div class="col-lg-3 card" style="background: #00b5d7;
      border-radius: 30px;
      color: white;
      height: 139px;
      margin-left: 22px;
      margin-right: 71px;">
        <h4 style="text-align: center; margin-top: 47px;">Pending Invoices
        </h4>
        <label style="text-align: center; font-size: 21px">{{ActiveInvoices}}</label>
      </div>

      <div class="col-lg-3 card" style="background: #00b5d7;
      border-radius: 30px;
      color: white;
      height: 139px;">
        <h4 style="text-align: center; margin-top: 47px;">Paid Invoices
        </h4>
        <label style="text-align: center; font-size: 21px">{{ClosedInvoices}}</label>
      </div>

    </div>

  </div>



  <div class="shadow p-3 mb-5 rounded  maincard " style="margin-left: -14px;
  margin-top: 33px;height: 311px;">

    <label style="margin-left: 467px;
  font-size: 26px;
  font-weight: 800;
  font-family: inherit;">Staff</label>
    <div class="row" style="margin-top: 45px;">

      <div class="col-lg-3 card" style="height: 139px;
    margin-right: 47px;
    margin-left: 75px;
    background: #00b5d7;
    border-radius: 30px;
    color: white;">
        <h4 style="text-align: center; margin-top: 47px;">No of Staff
        </h4>
        <label style="text-align: center; font-size: 21px">{{NoOfStaff}}</label>
      </div>

      <div class="col-lg-3 card" style="background: #00b5d7;
      border-radius: 30px;
      color: white;
      height: 139px;
      margin-left: 22px;
      margin-right: 71px;">
        <h4 style="text-align: center; margin-top: 47px;">Staff Leaves
        </h4>
        <label style="text-align: center; font-size: 21px">{{NoOfStaffLeaves}}</label>
      </div>

      <div class="col-lg-3 card" style="background: #00b5d7;
      border-radius: 30px;
      color: white;
      height: 139px;">
        <h4 style="text-align: center; margin-top: 47px;">Staff Attendance
        </h4>
        <label style="text-align: center; font-size: 21px">0</label>
      </div>

    </div>

  </div>









</div>