
@media screen and (max-width: 1024px) {
    .Pages_header{
      
        margin-left: 10px;
    }
    .maincard{
        margin-left: 10px;
    }
    .ddd{
        margin-left: 60px;
    }
    
  
    }
   
    @media screen and (min-width: 1400px) {
      
        .label1{
            margin-left: 1052px;
        }
      
        .ddd{
            margin-top: 0px;
        }
       
        
      }
      @media screen and (max-width: 1280px){
    
        
        .label1{
            margin-left: 863px;
        }
      
    
    }