<div class="container-fluid Pages_background" style="    margin-left: -8px;">
  <div>
    <div class="row">
      <div class="col-lg-3">
        <h4 class="Pages_header">Attendance</h4>
      </div>
      <div class="col-lg-6">
      </div>
      <div class="col-lg-3">
        <div class="mainrow">
          <div class="col-lg-12">
            <!-- <span class="CommercialWorkspace" style="margin-left: 52px;"> Staff / Attendance</span> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 dashbutton">
        <button routerLink="/Absentees" type="button" id="btn_button">Absentees</button>
      </div>
    </div>
    <!-- <div class="row breadCrumbHeadderProperties">
                  <div class="col-lg-12 dashbutton">
                      <button (click)=export() type="button" id="btn_button">export</button>
                  </div>
              </div> -->
  </div>
  <div class="container-fluid shadow p-3 mb-5 bg-white rounded maincard">
    <div class="row  p-2">
      <div class="col-lg-12 pannel">
        <h6 class="paneltitle">Attendance</h6>
      </div>
    </div>
    <div class="row p-4">
      <div class="col-lg-4">
        <ng-daterangepicker [options]="options" (ngModelChange)="selectedDate($event)">
        </ng-daterangepicker>
      </div>
      <div class="col-lg-3 ddd">
        <input type="text" placeholder="search.." [(ngModel)]="abSearch" class="form-control" id="txt_searchBuilding">
      </div>
      <label class="label1">Count : {{Count}}</label>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12  table-responsive">
          <table class="table table-bordered table-hover table-condensed">
            <tbody>
              <tr class="tableheader tableheaderfont buildingtable" style="background-color: #00b5d7; color: White;">
                <!-- <td>ID</td> -->
                <td>Employee Name</td>
                <td>Sign In Date</td>
                <td>Sign In Time</td>
                <td>Sign In Location</td>
                <td>Sign Out Date</td>
                <td>Sign Out Time</td>
                <td>Sign Out Location</td>
                <td>No Of Hours</td>
              </tr>
              <tr *ngFor="let Attendance of AttendanceLists|filter:abSearch">
                <td>{{Attendance.name}}</td>
                <td>{{Attendance.signinDate|date}}</td>
                <td>{{Attendance.signinTime}}</td>
                <td>{{Attendance.signinLocation}}</td>
                <td>{{Attendance.signoutDate|date}}</td>
                <td>{{Attendance.signoutTime}}</td>
                <td>{{Attendance.signoutLocation}}</td>
                <td>{{Attendance.hr}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>