<div class="container-fluid LoginScreen_background">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-6">
                <!-- <div class="row">
                    <img src="assets/Login/loginlogo.png" class="Login_logo" alt="">
                </div> -->
                <div class="form">
                    <form class="login-form" action="#/Login">
                        <div class="row">
                            <div class="col-lg-6">
                                <h5 style="color: white">Company Name </h5>
                            </div>
                            <div class="col-lg-6 Companyinput">
                                <input type="text" class="form-control" placeholder="Enter Company name" />
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-lg-3">
                            </div>
                            <div class="col-lg-6">
                                <div class="col-lg-2">
                                    <button type="submit" class="btn btn-block btn-md createbutton">Create</button>
                                </div>
                                <div class="col-lg-2">
                                </div>
                                <div class="col-lg-2">
                                    <button type="submit" class="btn btn-block btn-md createbutton">Cancel</button>
                                </div>
                            </div>
                            <div class="col-lg-3">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-6  table-responsive" style="margin-top: 59px; border-radius: 1">
                <table class="table table-bordered table-hover table-condensed" style="background-color: white">
                    <tbody>
                        <tr class="tableheader ">
                            <td>Company Name</td>
                            <td>Address</td>
                        </tr>
                        <tr>
                            <td>Amaze Inc</td>
                            <td>Jayanagar, Bangalore</td>
                        </tr>
                        <tr>
                            <td>Amaze Inc</td>
                            <td>Jayanagar, Bangalore</td>
                        </tr>
                        <tr>
                            <td>Amaze Inc</td>
                            <td>Jayanagar, Bangalore</td>
                        </tr>
                </table>
            </div>
            <div class="col-lg-3">
            </div>
        </div>
    </div>
</div>