<div class="container-fluid Pages_background">
        <div>
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="Pages_header">My Project</h4>
                </div>
    
            </div>
            <div class="row">
                <div class="col-lg-12 dashbutton">
                    <button routerLink="/myproject" type="button" id="btn_button">Add Project </button>
                </div>
            </div>
        </div>
    
        <div class="container-fluid shadow p-3 mb-5 bg-white rounded maincard">
            <div class="row  p-2">
                <div class="col-lg-12 pannel">
                    <h6 class="paneltitle">My Project Dashboard</h6>
                </div>
            </div>
    
            <div class="row p-4">
    
                <div class="col-lg-3">
                    <button class="btn btn-primary editable-table-button btn-xs" (click)="GetMyProjects()" data-toggle="modal" data-target="#myModalAttachments"
                        style="background-color: #00b5d7;
                        width: 100%;
                        height: 150%;
                        border-radius: 33px;
                        font-size: 14px;">My Projects</button>
                </div>
                <div class="col-lg-3">
                    <button class="btn btn-primary editable-table-button btn-xs" (click)="GetAllProjects()" data-toggle="modal" data-target="#myModalAttachments"
                        style="background-color: #00b5d7;
                        width: 100%;
                        height: 150%;
                        border-radius: 33px;
                        font-size: 14px;">All Projects</button>
                </div>
                <div class="col-lg-6">
    
                </div>
    
            </div>
            <div class="container-fluid" style="margin-top: 17px;" *ngIf="ShowAllProjects">
                <div class="row">
                    <div class="col-lg-12  table-responsive">
                        <table class="table table-bordered table-hover table-condensed" *ngIf="ShowAllProjects">
                            <tbody>
                                <tr class="tableheader tableheaderfont" style="background-color:#00b5d7; color: white;">
                                    <td>Project Name</td>
                                    <td>Project Number</td>
                                    <td>Building</td>
                                    <!-- <td>{{staff_IDattachment}}</td> -->
                                    <td>Project Manager</td>
                                    <td>Description</td>
                                    <td>Actions</td>
                                </tr>
                                <tr *ngFor="let project of projectlist">
                                    <td>{{project.project}}</td>
                                    <td>{{project.number}}</td>
                                    <td>{{project.buildingName}}</td>
                                    <td>{{project.manager}}</td>
                                    <td>{{project.description}}</td>
                                    <td style="text-align: center;">
                                        <i class="fa fa-edit" title="Edit" [routerLink]="['/myproject',project.id]"></i>&nbsp;
                                        <i class="far fa-trash-alt" title="Delete" (click)="DeleteProject(project.id)"></i>
                                    </td>
                                </tr>
                        </table>
                    </div>
                </div>
            </div>
    
            <div class="container-fluid" style="margin-top: 17px;" *ngIf="ShowMyProjects">
                <div class="row">
                    <div class="col-lg-12  table-responsive" *ngIf="ShowMyProjects">
                        <table class="table table-bordered table-hover table-condensed" *ng>
                            <tbody>
                                <tr class="tableheader tableheaderfont" style="background-color:#00b5d7; color: white;">
                                    <td>Project Name</td>
                                    <td>Project Number</td>
                                    <td>Building</td>
                                    <!-- <td>{{staff_IDattachment}}</td> -->
                                    <td>Project Manager</td>
                                    <td>Description</td>
                                    <td>Actions</td>
                                </tr>
    
                        </table>
                    </div>
                </div>
            </div>
        </div>