<div class="container-fluid Pages_background Backgroundforipad" style="    padding-right: 33px;
">
    <div>
        <div class="row">
            <div class="col-lg-3">
                <h4 class="Pages_header" style="    margin-left: -12px;">Project</h4>
            </div>
            <div class="col-lg-6">
            </div>
            <div class="col-lg-3">
                <div class="mainrow">
                    <div class="col-lg-12">
                        <!-- <span class="CommercialWorkspace">Construction Projects / Project </span> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 dashbutton" style="margin-left: -14px;">
                <button routerLink="/UpdateBuildingDetails" style="margin-left: -14px;" *ngIf="LoginTypeID==2 || LoginTypeID==3" type="button"
                    id="btn_button">Add New</button>
            </div>
        </div>
        <!-- <div class="row breadCrumbHeadderProperties">
                <div class="col-lg-12 dashbutton">
                    <button (click)=export() type="button" id="btn_button">export</button>
                </div>
            </div> -->
    </div>
    <div class="container-fluid shadow p-3 mb-5 bg-white rounded maincard">
        <div class="row  p-2">
            <div class="col-lg-12 pannel">
                <h6 class="paneltitle">Project DASHBOARD</h6>
            </div>
        </div>
        <div class="row p-4">
            <div class="col-lg-3">
                <input type="text" placeholder="search.." [(ngModel)]="BuildingSearch" class="form-control" id="txt_searchBuilding">
            </div>
            <div class="col-lg-3">
                <select class="form-control" id="ddl_sBillType" (change)="getcountryID($event)" [(ngModel)]="countryID1" name="Country">
                    <option value="none"> Select Country</option>
                    <option value="{{country.id}}" *ngFor="let country of Countrylist">{{country.short}}
                    </option>
                </select>
            </div>
            <div class="col-lg-3">
                <select class="form-control" id="ddl_BillType" [disabled]="typeID==2" (change)="getstateID($event)" name="stateID1">
                    <option value="none"> Select State</option>
                    <option value="{{state.id}}" *ngFor="let state of Statelist">{{state.short}}
                    </option>
                </select>
            </div>

            <div class="col-lg-3">
                <select class="form-control" id="ddl_fBillType" name="cityID1">
                    <option value="none"> Select City</option>
                    <option value="{{city.id}}" *ngFor="let city of citylist">{{city.short}}</option>
                </select>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12  table-responsive">
                    <table class="table table-bordered table-hover table-condensed">
                        <tbody>
                            <tr class="tableheader tableheaderfont buildingtable">
                                <td>Property Photo</td>
                                <td *ngIf="LoginTypeID==1 ||LoginTypeID==2 ||LoginTypeID==3||LoginTypeID==4">Property Name</td>
                                <td>{{building_Address}}</td>
                                <td>{{building_Country}}</td>
                                <td>{{building_State}}</td>
                                <td>{{building_City}}</td>
                                <td>{{building_Contact_Name}}</td>
                                <td>{{building_Phone_Number}}</td>
                                <!-- <td>{{building_Email}}</td> -->
                                <td *ngIf="LoginTypeID==2 || LoginTypeID==3 ">{{building_Actions}}</td>
                            </tr>
                            <tr *ngFor="let Building of BuildingList | filter:BuildingSearch|filter:countryID">
                                <td *ngIf="Building.attachment!=null">
                                    <img class="buildingimage" src="{{Building.attachment}}" style="width: 50px;height:50px">
                                    <!-- <td *ngIf="Building.attachment==null"><img  class="buildingimage" src="assets/Login/noimage.jpg" style="width: 50px;height:50px"> -->
                                </td>
                                <td *ngIf="Building.attachment==null">
                                    <img class="buildingimage" src="assets/Login/noimage.jpg" style="width: 50px;height:50px">
                                    <!-- <td *ngIf="Building.attachment==null"><img  class="buildingimage" src="assets/Login/noimage.jpg" style="width: 50px;height:50px"> -->
                                </td>
                                <td *ngIf="LoginTypeID==1 ||LoginTypeID==2 ||LoginTypeID==3||LoginTypeID==4">{{Building.name}}</td>
                                <td>{{Building.address}}</td>
                                <td>{{Building.country}}</td>
                                <td>{{Building.state}}</td>
                                <td>{{Building.city}}</td>
                                <td>{{Building.contactPersonName}}</td>
                                <td>{{Building.contactPersonPhoneNo}}</td>
                                <!-- <td>{{Building.contactPersonEmail}}</td> -->
                                <td *ngIf="LoginTypeID==2 || LoginTypeID==3 " class="TableActions">
                                    <i class="fa fa-edit" title="Edit" [routerLink]="['/EditBuildingDetails',Building.id,2]"></i>
                                    <i class="far fa-trash-alt" title="Delete" (click)="DeleteBuilding(Building.id,Building.name)"></i>
                                    <i class="fa fa-image" title="Attachments" data-toggle="modal" data-target="#myModal" (click)="getimage(Building.id)"></i>
                                    <i class="fa fa-eye" title="View" [routerLink]="['/EditBuildingDetails',Building.id,2]"></i>
                                    <i class="fa fa-plus" title="Add Photos" aria-hidden="true" data-toggle="modal" data-target="#myModaladd" (click)="getbuildingid(Building.id)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg" style="margin-top: 10%">
        <div class="modal-content" style="    margin-left: 104px;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-4">
                        <h4 class="modal-title" style="margin-left: 30px;">Attachments</h4>
                    </div>
                    <div class="col-lg-7">
                    </div>
                    <div class="col-lg-1">
                        <!-- <button class="dashbutton closebutton" type="submit" data-dismiss="modal">Close</button> -->
                        <i class="fa fa-times" aria-hidden="true" data-dismiss="modal" style="margin-top: 15px;"></i>
                    </div>

                </div>

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-4" style="margin-top: 10px; margin-bottom: 10px" *ngFor="let image of photourllist">
                        <a>
                            <img src="{{image.attachment}}" style="width: 100%;">
                        </a>
                        <div class="row" style="margin-left: 105px;margin-top: 10px;">
                            <div class="col-lg-2">
                                <button class="dashbutton closebutton" type="submit" style="width: 75px;" aria-hidden="true" data-toggle="modal" data-dismiss="modal"
                                    data-target="#myModalup" (click)="updateattachment(image.id);$dismiss()">Update</button>
                            </div>
                            <div class="col-lg-2">
                                <button class="dashbutton updatebutton" type="submit" style="width: 75px;margin-right: -50px;" data-dismiss="modal" (click)="DeleteBuildingDocuments(image.id)">Delete</button>
                            </div>
                        </div>
                    </div>
                    <img *ngIf="nophoto==1" src="assets/Login/noimage.jpg">
                </div>
            </div>


            <!-- <div class="row">
          <div class="col-lg-9"> </div>
          <div class="col-lg-3">
            <button class="dashbutton closebutton" type="submit" data-dismiss="modal">Close</button>
          </div>
        </div> -->
        </div>
    </div>
</div>


<div class="modal fade" id="myModalup">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="row" style="padding-top: 125px;">
                <div class="col-lg-1">
                </div>
                <div class="col-lg-2">
                    <p style="padding:5px">Update Attachment</p>
                </div>
                <div class="col-lg-7">
                    <div class="form-group">
                        <input type="file" class="form-control" placeholder="Photo" accept="image/*" (change)="handleFileSelect($event)">
                        <div class="col-lg-4">
                            <div class="form-group"></div>
                        </div>
                    </div>

                    <div class="col-lg-12">

                        <div class="form-group">
                            <button type="submit" class="btn btn-block btn-md" style="background-color:#00b5d7;color:white;border-color: rgba(20, 21, 31, 0.20);"
                                data-dismiss="modal" (click)="UpdatebuildingDocument();">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myModaladd">
    <div class="modal-dialog modal-lg">
        <i class="fa fa-times" aria-hidden="true" data-dismiss="modal" style="margin-top: 15px;"></i>
        <div class="modal-content" style="margin-top: 64px;">
            <!-- <div class="row">
                        <i class="fa fa-times" aria-hidden="true" data-dismiss="modal" style="margin-top: 15px;"></i>
                </div> -->
            <div class="row" style="padding: 39px;">
                <div class="col-lg-1">
                </div>
                <div class="col-lg-2">
                    <p style="padding:5px">Update Attachment</p>
                </div>
                <div class="col-lg-7">
                    <div class="form-group">
                        <input type="file" class="form-control" id="adddocument" placeholder="Photo" accept="image/*" multiple (change)="handleFileSelect1($event)">
                        <div class="col-lg-4">
                            <div class="form-group"></div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-block btn-md" style="background-color:#00b5d7;color:white;border-color: rgba(20, 21, 31, 0.20);"
                                data-dismiss="modal" (click)="addBuildingDocument();">Add</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <i class="fa fa-times" aria-hidden="true" data-dismiss="modal" style="margin-left: 93px;"></i>
                </div>

            </div>




        </div>
    </div>
</div>