i {
    color: #00b5d7;
}

.dropzone_vendorinvoice {
    height: 66px;
    border: 2px solid #717386;
    max-width: 404px;
    min-width: auto;
    width: 390px;
}

.paneltitle {
    font-weight: 400;
    text-transform: uppercase;
    opacity: 0.9;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: #666666;
}

.updateassetbc{
    margin-left: 93px;
}


@media screen and (min-width: 1600px) {
    .updateassetbc{
        margin-left: 93px;
    }
    .dropzone_vendorinvoice {
        height: 66px;
        border: 2px solid #717386;
        max-width: 404px;
        min-width: auto;
        width: 390px;
    }
    
    
  }
  @media screen and (min-width: 1900px) {
    .updateassetbc{
        margin-left: 251px;
    }
    .dropzone_vendorinvoice {
        height: 66px;
        border: 2px solid #717386;
        max-width: 661px;
        min-width: auto;
        width: 711px;
    }
    
  }

  
@media screen and (max-width: 1024px) {
    .header{
        margin-top: 60px;
        margin-left: 15px;
    }
    .maincard{
        margin-left: 7px;
    }
    .ddd{
        margin-top: -26px;
    }
    
  
    }
    @media screen and (min-width: 1400px) {
      .ddd{
          margin-top: -26px;
      }
      .maincard{
        margin-left: 0px;
    }
    .header{
        
        margin-left: 15px;
    }
      
    }
