<div class="container-fluid ">
  <div class="row">
    <div class="col-lg-6">
      <h4 class="header">Dashboard</h4>
    </div>
    <div class="col-lg-3">
    </div>
    <div class="col-lg-3">
      <div class="row mainrow">
        <div class="col-lg-12 buildings">
          <span class="building"> Staff /Dashboard</span> </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="shadow p-3 mb-5 bg-white rounded  maincard ">
        <h4>My Profile</h4>
        <div class="row">
          <div class="col-lg-7">
            <h5>NAME : John</h5>
            <h5>BUILDING : The Exchange106</h5>
            <h5>MOBILE NUMBER : 8529632563</h5>
            <h5>TYPE: Electrician</h5>
            <h5>EMERGENCY CONTACT NO : 8529632563</h5>
          </div>
          <div class="col-lg-4">
            <img class="profileimg" src="assets/Login/images.png">
          </div>
        </div>
        <div class="row">
          <button class="btn btn-block btn-md savebutton" style="margin-top: 43px;margin-left: 194px;" id="btn_save"
            type="submit">Edit</button>
        </div>
      </div>
    </div>



    <div class="col-lg-6">
      <div class="shadow p-3 mb-5 bg-white rounded  maincard ">
        <h4>My Leaves</h4>
        <div class="row">
          <div class="col-lg-7">
            <h5>TOTAL LEAVES : 24</h5>
            <h5>APPLIED LEAVES : 2</h5>
            <h5>LEAVES REMAINING : 22</h5>
          </div>
          <div class="col-lg-4">
          </div>
        </div>
      </div>

      <div class="shadow p-3 mb-5 bg-white rounded  maincard ">
        <h4>Late Sign In </h4>
        <div class="row">
          <div class="col-lg-7">
            <h5>SIGN IN DATE : Dec 15, 1019</h5>
            <h5>SIGN IN Time : 12:30 PM</h5>
          </div>
          <div class="col-lg-4">
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-2">
        <div class="shadow p-3 mb-5 bg-white rounded  maincard " style="height: 130px;">
          <h5>My Expenses
          </h5>

        </div>
      </div>
      <div class="col-lg-2">
        <div class="shadow p-3 mb-5 bg-white rounded  maincard " style="height: 130px;">
          <h5>My Workschedule</h5>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="shadow p-3 mb-5 bg-white rounded  maincard " style="height: 130px;">
          <h5>My Timesheet</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-2">
        <div class="shadow p-3 mb-5 bg-white rounded  maincard " style="height: 130px;">
          <h5>Pending Approvals</h5>
          <hr>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="shadow p-3 mb-5 bg-white rounded  maincard " style="height: 130px;">
          <h5>Announcements</h5>
          <hr>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="shadow p-3 mb-5 bg-white rounded  maincard " style="height: 130px;">
          <h5>My Team On Leave</h5>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-2">
        <div class="shadow p-3 mb-5 bg-white rounded  maincard " style="height: 130px;">
          My Expenses:1
        </div>
      </div>
      <div class="col-lg-2">
        <div class="shadow p-3 mb-5 bg-white rounded  maincard " style="height: 130px;">
          My Expenses:1
        </div>
      </div>
      <div class="col-lg-2">
        <div class="shadow p-3 mb-5 bg-white rounded  maincard " style="height: 130px;">
          My Expenses:1
        </div>
      </div>
    </div>
  </div> -->



</div>