.mainrow{
    float: right;
    margin-top: 26px;
}

.dashbutton {
    border-radius: 10px;
    background-color: #00b5d7;
    color: white;
    border: none;
    width: 150px;
    height: 30px;
    margin-bottom: 12px;
}

i{
    color: #00b5d7;
}