<div class="container-fluid Pages_background">
    <div>
        <div class="row">
            <div class="col-lg-4">
                <h4 class="Pages_header">Staff Leave</h4>
            </div>
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
                <div class="mainrow">
                    <div class="col-lg-12 BreadChrumbProperties" style="margin-left: 167px;">
                        <span> Staff /Staff Leave</span>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
  
    <div class="container-fluid shadow p-3 mb-5 bg-white rounded maincard">
        <div class="row  p-2">
            <div class="col-lg-12 pannel">
                <h6 class="paneltitle">Staff Leave</h6>
            </div>
        </div>
  
        <div class="row p-4">
            <div class="col-lg-3">
                <input type="text" placeholder="search" [(ngModel)]="Staffsearch" class="form-control" id="txt_StaffsearchBuilding">
            </div>
            <!-- <div class="col-lg-3">
                <select class="dropdown form-control" id="ddl_BuildingName" required>
                    <option value="none" selected="selected">Select Account</option>
                </select>
            </div> -->
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12  table-responsive">
                    <table class="table table-bordered table-hover table-condensed">
                        <tbody>
                            <tr class="tableheader tableheaderfont" style="background-color: #00b5d7;color:white">
                                  <td>Staff Name</td>
                                <td>Building</td>
                                <td>Leave Type</td>
                                <td>Start Date</td>
                                <td>End Date</td>   
                                <td>No Of Days Leave</td> 
                                <td>Reason</td> 
                                <td>Covering Staff</td> 
                                <td>Status</td>                             
                                <td>Rejected Reason</td>
                                <td>Action</td>
                               
                                
                            </tr>
                            <tr *ngFor="let stafflea of StaffLeaveslist|filter:Staffsearch">
                                  
                                <td>{{stafflea.staffName}} </td>
                                <td>{{stafflea.building}}</td>
                                <td>{{stafflea.leavetype}}</td>
                                <td>{{stafflea.sDateOfLeave|date}}</td>
                                <td>{{stafflea.eDateOfLeave|date}} </td>
                                <td>{{stafflea.noOfDays}}</td>
                                <td>{{stafflea.leaveReason}}</td>
                                <td>{{stafflea.coveringStaff}}</td>
                                <td>{{stafflea.status}}</td>
                                <td>{{stafflea.rejectReason}}</td>
                                
                              
                                <td>
                                    <i class="fas fa-check-square"
                                        style="font-size: 20px;margin-right: 5px;" title="Approved"
                                        *ngIf="stafflea.status=='Approved'"></i>
                                    <i class="fas fa-thumbs-down"
                                        style="font-size: 20px;margin-right: 5px; color: red" title="Reject"
                                        (click)="getrejectid(stafflea.staffID)" data-toggle="modal"
                                        data-target="#myModal" *ngIf="stafflea.status==null"></i>
                                    <i class="far fa-thumbs-up" style="font-size: 20px;margin-right: 5px;"
                                        title="Approve" *ngIf="stafflea.status==null"
                                        (click)="approveleave(stafflea.staffID)"></i>
                                    <i class="fas fa-times-circle"
                                        style="font-size: 20px;margin-right: 5px;  color: red"
                                        title="Cancelled" *ngIf="stafflea.status=='Rejected'"></i>
                                </td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="myModal" style="margin-top:80px;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <h2 class="modal-title popcard" style="font-size: 20px;
                /* text-align: center; */
                margin-bottom: 18px;
                margin-left: 63px;
                margin-top: 17px;">Cancel Request</h2>
            <!-- <div class="row">
                    <div class="col-lg-1">
                    </div>
                    <div class="col-lg-3">
                        <label>Select Request</label>
                    </div>
                    <div class="col-lg-8">
                        <input type="text" placeholder="Select Request" class="form-control plabel" id="txt_usr">
                    </div>
                </div> -->
            <div class="row">
                <div class="col-lg-1">
                </div>
                <div class="col-lg-2">
                    <label>Reason For Cancellation</label>
                </div>
                <div class="col-lg-8">
                    <textarea class="plabel form-control" [(ngModel)]="Reason" name="Reason"
                        placeholder="Reason "></textarea>
                </div>
                <div class="col-lg-1">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-5">
                </div>
                <div class="col-lg-7">
                    <button type="submit" (click)="Rejectleave()" data-dismiss="modal"
                        class="btn btn-block btn-md cancelbutton">Cancel</button>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10">
                </div>
                <div class="col-lg-2">
                    <button type="submit" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>