<div class="container-fluid Pages_background">
    <div class="row">
      <div class="col-lg-5">
        <h4 class="Pages_header">Add Pagibig Rate</h4>
      </div>
      <div class="col-lg-3">
      </div>
      <div class="col-lg-4">
        <div class="row mainrow">
          <div class="col-lg-12 BreadChrumbProperties">
            <span class="building"> Staff/ Add Pagibig Rate</span> </div>
        </div>
      </div>
    </div>
    <div class="container-fluid shadow p-3 mb-5 bg-white rounded maincard ">
      <h5>ADD SSS RATE</h5>
      <hr>
      <form>
        <div class="row ">
          <div class=col-lg-1> </div>
          <div class="col-lg-2">
            <h5 class="formlabel" style="padding: 5px">Salary Ranges From</h5>
          </div>
          <div class="col-lg-5">
            <input type="text" name="SalaryRangesFrom" id="SalaryRangesFrom" class="form-control"
              placeholder="Salary Ranges From">
          </div>
        </div>
  
        <div class="row ">
          <div class=col-lg-1> </div>
          <div class="col-lg-2">
            <h5 class="formlabel" style="padding: 5px">Salary Ranges To</h5>
          </div>
          <div class="col-lg-5">
            <input type="text" name="SalaryRangesTo" id="SalaryRangesTo" class="form-control"
              placeholder="Salary Ranges To">
          </div>
        </div>
  
        <div class="row ">
          <div class=col-lg-1> </div>
          <div class="col-lg-2">
            <h5 class="formlabel" style="padding: 5px">Employee Share</h5>
          </div>
          <div class="col-lg-5">
            <input type="text" name="Employee" id="Employee" class="form-control" placeholder="Employee Share">
          </div>
        </div>
        <div class="row ">
          <div class=col-lg-1> </div>
          <div class="col-lg-2">
            <h5 class="formlabel" style="padding: 5px">Employer Share</h5>
          </div>
          <div class="col-lg-5">
            <input type="text" name="Employer" id="Employer" class="form-control" placeholder="Employer Share">
          </div>
        </div>
  
        <div class="row">
          <div class="col-lg-4">
          </div>
          <div class="col-lg-2">
            <button class="savebutton"  id="btn_utilitySave" type="submit">Save</button>
          </div>
        </div>
      </form>
    </div>