<div class="container-fluid Pages_background Backgroundforipad">
  <div class="row">
    <div class="col-lg-5">
      <h4 style="margin-bottom: 25px;" class="Pages_header"> NEW CLIENT CONTACT</h4>

    </div>
    <div class="col-lg-3">
    </div>

  </div>
  <div class="container-fluid Pages_background">
    <div>
      <div class="card maincard" style="margin-left: -15px;">
        <div class="row">
          <div class="col-lg-8 reqriedspan" style="padding: 25px;">
            <br>
            <form #loginForm="ngForm">
              <div class="row">
                <div class=col-lg-1> </div>
                <div class="col-lg-2">
                  <p>Project
                    <span style="color: red;"> *</span>
                  </p>
                </div>
                <div class="col-lg-7">
                  <select name="ProjectID" [(ngModel)]="ProjectID" disabled class="dropdown form-control " required id="ProjectID" >
                    <option value="0" selected="selected"> Project</option>
                    <option value="{{build.id}}" *ngFor="let build of projectlist">{{build.name}}</option>
                  </select>
                </div>
              </div>
              <br>

              <div class="row">
                <div class=col-lg-1> </div>
                <div class="col-lg-2">
                  <p>Stage
                    <span style="color: red;"> *</span>
                  </p>
                </div>
                <div class="col-lg-7">
                  <select name="Stage" [(ngModel)]="Stage" class="dropdown form-control " required id="Stage" (click)="GetStage($event)">
                    <option value="none" selected="selected">
                      <Select></Select> Stage</option>
                    <option value="{{build.stage}}" *ngFor="let build of StageList">{{build.stage}}</option>
                  </select>
                </div>
              </div>
              <br>
              <div class="row">
                <div class=col-lg-1> </div>
                <div class="col-lg-2">
                  <p>No. Of Hours</p>
                </div>
                <div class="col-lg-7">
                  <input type="number" class="form-control" [(ngModel)]="NoOfHours" id="NoOfHours" name="NoOfHours" placeholder="No. Of Hours">
                </div>
              </div>
              <br>
              <div class="row">
                <div class=col-lg-1> </div>
                <div class="col-lg-2">
                  <p>Description
                    <span style="color: red;">*</span>
                  </p>
                </div>
                <div class="col-lg-7">
                  <textarea rows="3" id="Description" [(ngModel)]="Description" name="Description" class="form-control" placeholder="Description"
                    required></textarea>
                </div>
              </div>
              <br>

              <div class="row" *ngIf="paramID==null">
                <div class=col-lg-1> </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-2 ">
                  <button type="submit" style="margin-bottom: 100px" (click)="Save()" class="btn btn-block btn-md savebutton">Save</button>
                </div>
              </div>
              <div class="row" *ngIf="paramID!=null">
                <div class=col-lg-1> </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-2 ">
                  <button type="submit" style="margin-bottom: 100px" (click)="Update()" class="btn btn-block btn-md savebutton">Update</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>