<div class="container-fluid Pages_background">
    <div>
        <div class="row">
            <div class="col-lg-5">
                <h4 class="Pages_header">{{pageMenuTitle}}</h4>
            </div>
            <div class="col-lg-3">
            </div>
            <div class="col-lg-4">
                <div class="mainrow">
                    <div class="col-lg-12 BreadChrumbProperties">
                        <span class="projectreqbc"> {{projectRequest_breadchrumb}} </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 dashbutton ">
            <button routerLink="/UpdateProjectRequest" class="btn btn-block btn-md"
                id="btn_ProjectRequest_NewProjectRequest">{{projectRequest_button_NewProjectrequest}}</button>
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn  btn-md excelbutton" (click)="exporttoexcel()">
            Export To Excel
        </button>
    </div>
</div>
<div class="container-fluid Pages_background">
    <div class="shadow p-2 mb-5 bg-white rounded   maincard ">
        <h4 class="paneltitle">{{projectRequest_PageTitle}}</h4>
        <hr>

        <div class="row">
            <div class="col-lg-4">
                <ng-daterangepicker [options]="pickeroptions"></ng-daterangepicker>
            </div>
            <div class="col-lg-3">
                <select class="form-control" id="ddl_ProjectRequest_selectRequest"
                    (change)="onchangeProjectrequesttype($event)">
                    <option value="none"> Select Request Type</option>
                    <option *ngFor="let requesttype of requestTypeList" value="{{requesttype.id}}">{{requesttype.short}}
                    </option>

                </select>
            </div>
            <div class="col-lg-3">
                <select class="dropdown form-control" id="ddl_ProjectRequest_SelectBuilding"
                    (change)="onchangBuilding($event)">
                    <option value="none"> Select Building</option>
                    <option *ngFor="let building of buildingList" value="{{building.id}}">{{building.name}}</option>

                </select>
            </div>
            <div class="col-lg-2">
                <input type="text" placeholder="search.." [(ngModel)]="searchProjectRequest" name="searchProjectRequest"
                    class="form-control" id="txt_ProjectRequest_search">
            </div>
        </div>


        <br>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr class="tableheader tableheaderfont">
                        <td>{{projectRequest_Request_Name}}</td>
                        <td>{{projectRequest_Request_Type}}</td>
                        <td>{{projectRequest_Building}}</td>
                        <td>Floor</td>
                        <td>Unit</td>
                        <td>{{projectRequest_Raised_By}}</td>
                        <td>{{projectRequest_Raised_Date}}</td>
                        <td>{{projectRequest_Bid_Submit_Date}}</td>
                        <td>{{projectRequest_Project_Awarded_Date}}</td>
                        <td>{{projectRequest_Actions}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let projectreq of filteredprojectrequestList | filter:searchProjectRequest">
                        <td>{{projectreq.request}} </td>
                        <td>{{projectreq.requestType}} </td>
                        <td>{{projectreq.building}} </td>
                        <td>{{projectreq.floorName}} </td>
                        <td>{{projectreq.unitName}} </td>
                        <td>{{projectreq.raisedBy}} </td>
                        <td>{{projectreq.date|date}} </td>
                        <td>{{projectreq.bidSubmissionDate|date}} </td>
                        <td>{{projectreq.awardDate|date}} </td>
                        <td class="TableActions">
                            <a routerLink="/UpdateProjectRequest/{{projectreq.id}}" style="background-color:white" title="Edit"> <i class="fa fa-edit"></i></a>
                            <a (click)="deleteprojectrequest(projectreq.id)" style="background-color:white" title="Delete"> <i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>