<div class="container-fluid Pages_background">
  <div>
    <div class="row">
      <div class="col-lg-12">
        <h4 class="Pages_header">Project Files</h4>
      </div>
    </div>
  </div>


  <div class="card maincard" style="margin-top: 41px;">
    <form #staffForm="ngForm" style="margin-top: 20px;">
      <div class="row divForm">
        <div class="col-lg-8 reqriedspan">
          <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-3">
              <p style="padding:5px">Project Name
                <span class="starspan">*</span>
              </p>
            </div>
            <div class="col-lg-7 ">
              <select name="ProjectID" class="dropdown form-control " disabled [(ngModel)]="ProjectID" required id="ddl_updateassetsBuilding">
                <option value="0" selected="selected"> Project</option>
                <option value="{{build.id}}" *ngFor="let build of projectlist">{{build.name}}</option>
              </select>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-3">
              <p style="padding:5px">Folder Name
                <span class="starspan">*</span>
              </p>
            </div>
            <div class="col-lg-7 ">
              <input type="text" [(ngModel)]="FileName" name="FileName" required id="FileName" placeholder="Folder Name" class="form-control">
            </div>
          </div>
          <br>
          <div class="row ">
            <div class=col-lg-1> </div>
            <div class="col-lg-3">
              <h6 style="font-size: 14px;"> Description
                <span>*</span>
              </h6>
            </div>
            <div class="col-lg-7">
              <textarea rows="4" cols="30" [(ngModel)]="description" required name="workdescription" class="form-control" placeholder="Description"> </textarea>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-3">
              <p style="padding:5px">Owner Name
                <span class="starspan">*</span>
              </p>
            </div>
            <div class="col-lg-7 ">
              <input type="text" [(ngModel)]="OwnerName" name="OwnerName" required id="OwnerName" placeholder="Owner Name" class="form-control">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-5">
            </div>
            <div class="col-lg-2">
              <button class="btn btn-block btn-md" style="background-color:#00b5d7;color:white;border-color: rgba(20, 21, 31, 0.20);" (click)="Save()">Save</button>
            </div>
            <div class="col-lg-5">
            </div>
            <br>
          </div>
          <br>
        </div>
      </div>
    </form>
  </div>
  <br>